<!-- 풋터 start -->
<div>
    <div class="bg-light p-5 text-center">
        <div class="d-flex justify-content-between">
            <div><b>회사소개</b></div>
            <div><b>이용약관</b></div>
            <div><b>개인정보 처리방침</b></div>
            <div><b>고객센터</b></div>
        </div>
        <br>
        <br>
        <div>
            <div>고객센터 : 02-1574-1574 (평일 09:00 - 18:00, 주말 공휴일 휴무)</div>
            <div>이메일 : help@jobplan.co.kr FAX : 02-1574-1575</div>
            <div>(주)잡플랜 : 부산광역시 부산진구 중앙대로 749 3층, 대표 최주호</div>
            <div>사업자 등록번호 312-82-75512, 직업정보제공사업 : 서울 관악 제 2005-6호, 통신판매업 : 제 2005-02339호</div>
            <div>Copyright (c) (주)잡플랜 All rights reserved.</div>
        </div>
    </div>
</div>
<!-- 풋터 end -->
</body>
</html>