{{> layout/header }}
<!-- 기업 버튼 -->
<div class="sidenav">
    <div class="card" style="width:150px">
        <img class="card-img-top" src="../images/people.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
            <h4 class="card-title text-center">류재성</h4>
            <p class="card-text text-center">설명</p>
            <div class="card-footer" style="text-align: center;">
                <!-- 지원하기 버튼 -->
                <div>
                    <a href="#" class="btn btn-primary">지원</a>
                </div>
                <!-- 수정 삭제 버튼 -->
                <div>
                    <a href="/board/1/updateForm" method="get" class="btn btn-warning">수정</a>
                    <form action="/board/1/delete" method="post" onsubmit="return false">
                        <button class="btn btn-danger">삭제</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 게시글내용 -->
<div class="container bg-light">
    <h2><b>맡은 업무에 항상 최선을 다하는 인재입니다.</b></h2>
    <hr>
    <div class="blockquote">
        <span>회사명</span>
        <span>근무지역</span>
        <span>경력</span>
    </div>
    <div>
        <span>요약</span>
        <table class="table">
            <tr>
                <th>나이</th>
                <td>50살</td>
            </tr>
            <tr>
                <th>학력</th>
                <td>대학교 졸업</td>
            </tr>
            <tr>
                <th>거주지</th>
                <td>부산</td>
            </tr>
            <tr>
                <th>전화번호</th>
                <td>010-1234-4567</td>
            </tr>
            <tr>
                <th>email</th>
                <td>ssar@naver.com</td>
            </tr>
        </table>
    </div>
    <div class="m-4 p-2">
        <div>
            <h3>자기소개서</h3>
            <div class="bg-white">어려서부터 우리집은 가난했었고

                남들 다하는 외식 몇번 한적이 없었고

                일터에 나가신 어머니 집에 없으면

                언제나 혼자서 끓여먹었던 라면

                그러다 라면이 너무 지겨워서

                맛있는것좀 먹자고 대들었었어

                그러자 어머님이 마지못해 꺼내신

                숨겨두신 비상금으로 시켜주신

                자장면하나에 너무나 행복했었어

                하지만 어머님은 왠지 드시질 않았어

                어머님은 자장면이 싫다고 하셨어

                어머님은 자장면이 싫다고 하셨어

                야이야이야아아

                그렇게 살아가고 그렇게 후회하고 눈물도 흘리고

                야이야이야아아

                그렇게 살아가고 너무나 아프고 하지만 다시 웃고

                중학교 1학년때 도시락 까먹을때

                다같이 함께 모여 도시락 뚜껑을 열었는데

                부자집아들녀석이 나에게 화를 냈어

                반찬이 그게 뭐냐며 나에게 뭐라고 했어

                창피했어 그만 눈물이 났어

                그러자 그녀석은 내가 운다며 놀려댔어

                참을수 없어서 얼굴로 날아간 내 주먹에

                일터에 계시던 어머님은 또 다시 학교에

                불려오셨어 아니 또 끌려오셨어

                다시는 이런일이 없을 거라며 비셨어

                그녀석 어머니께 고개를 숙여 비셨어

                (우리 어머니가 비셨어)

                야이야이야아아

                그렇게 살아가고 그렇게 후회하고 눈물도 흘리고

                야이야이야아아

                그렇게 살아가고 너무나 아프고 하지만 다시 웃고

                아버님없이 마침내 우리는 해냈어

                마침내 조그만 식당을 하나 갖게 됬어

                그리 크진 않았지만 행복했어

                주름진 어머니 눈가엔 눈물이 고였어

                어머니와 내이름의 앞글자를 따서

                식당이름을 짓고 고사를 지내고

                밤이 깊어가도 아무도 떠날줄 모르고

                사람들의 축하는 계속 되었고

                자정이 다되서야 돌아갔어

                피곤하셨는지 어머님은 어느새 깊이

                잠이 들어버리시고는 깨지 않으셨어

                다시는...

                난 당신을 사랑했어요

                한번도 말을 못했지만

                사랑해요 이젠 편히 쉬어요

                내가 없는 세상에서 영원토록

                야이야이야아아

                그렇게 살아가고 그렇게 후회하고 눈물도 흘리고

                야이야이야아아

                그렇게 살아가고 너무나 아프고 하지만 다시 웃고

                야이야이야아아

                그렇게 살아가고 그렇게 후회하고 눈물도 흘리고

                야이야이야아아

                그렇게 살아가고 너무나 아프고 하지만 다시 웃고...


            </div>
        </div>

        <hr>


        <div>
            <h3>기술 스택 / 툴</h3>
            <button>Java</button>
            <button>JavaScript</button>
            <button>HTML</button>
            <button>SQL</button>
        </div>
        <hr>
        <div>
            <h3>태그</h3>
            <button>스타트업</button>
            <button>석식제공</button>
            <button>자기계발</button>
            <button>IT, 컨텐츠</button>
        </div>
    </div>
</div>
<!-- 바디 end -->
{{>layout/footer}}