{{>layout/header}}
<!-- 바디 start -->
<div class="div-card-container">
    <div class="card div-card">
        {{#resumeDetail}}
            <div class="card-header card-title">
                <h2>{{username}}님 이력서</h2>
            </div>
            <div class="card-body">
                <h4 class="card-title">{{title}}</h4>
                <table class="table">

                    <!--
                    <tr>
                        <td>졸업형태</td>
                        <td>{{educationLevel}}</td>
                    </tr>
                    -->
                </table>
                <h4 class="card-title">자기소개서</h4>
                <div class="form-control" style="height: 300px">{{content}}</div>
                <h4 class="card-title">경력 정보</h4>
                <div class="form-control" style="height: 100px">{{career}}</div>
                </tr>
                <h4 class="card-title">개인 정보</h4>
                <table class="table">
                    <tr>
                        <td>학교명</td>
                        <td>{{schoolName}}</td>
                    </tr>
                    <tr>
                        <td>전공</td>
                        <td>{{major}}</td>
                    </tr>
                    <tr>
                        <td>이름</td>
                        <td>{{username}}</td>
                    </tr>
                    <tr>
                        <td>나이</td>
                        <td>{{birthyear}}년 생</td>
                    </tr>
                    <tr>
                        <td>휴대전화</td>
                        <td>{{phoneNumber}}</td>
                    </tr>
                    <tr>
                        <td>이메일</td>
                        <td>{{email}}</td>
                    </tr>
                    <tr>
                        <td>주소</td>
                        <td>{{address}}</td>
                    </tr>
                </table>
            </div>
            <div class="card-footer">
                <!--기술 스택?-->
            </div>
        {{/resumeDetail}}
    </div>
    <div class="sidenav-container">
        <div class="sidenav">
            <div class="card" style="width:150px">
                {{#userPic}}
                    <img class="card-img" src="/upload/{{userPic.imgFilename}}" style="width:100%">
                {{/userPic}}
                {{^userPic}}
                    <img class="card-img" src="../images/avatar.png" alt="Card image" style="width:100%">
                {{/userPic}}
                <div class="card-body">
                    <h4 class="card-title text-center">{{resumeDetail.username}}</h4>
                    <div class="card-footer" style="text-align: center;">
                        <!-- 지원하기 버튼 -->
                        <div>
                            <a href="#" class="btn btn-primary">지원</a>
                        </div>
                        <!-- 수정 삭제 버튼 -->
                        <div>
                            <a href="/board/1/updateForm" method="get" class="btn btn-warning">수정</a>
                            <form action="/board/1/delete" method="post" onsubmit="return false">
                                <button class="btn btn-danger">삭제</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 바디 end -->
{{>layout/footer}}