{{> layout/header }}

<div class="row justify-content-end mb-3">
    <div class="col-md-4">
        <form action="/" method="get" class="form-inline">
            <div class="input-group rounded">
                <input class="search-box form-control me-2 rounded-end" type="text" placeholder="기업,채용정보를 입력하세요"
                       name="keyword" required/>
                <a href="#" class="text-body"><i class="fa-solid fa-magnifying-glass icon-search"></i></a>
            </div>
        </form>
    </div>
</div>


<!-- 광고 창 start -->
<div class="div-addimage">
    <section>
        <div class="div-ad-img1"></div>
    </section>
    <!-- 광고 창 end -->

    <!-- 바디 start -->

    <section>

        <div class="div-recommendation mb-20">추천 인재</div>
        <div class="div-recommendation-people">

            <div onclick="location.href='/resume/detail.html'">
                <div class="employer-people-image1"></div>
                <div class="div-recommendation-text-1">뽑아주세요.
                    <span><a href="" class="text-body"><i class="fa-regular fa-star"></i></a></span>
                </div>
                <div class="div-recommendation-text-2">류재성</div>
            </div>
            <div onclick="location.href='/resume/detail.html'">
                <div class="employer-people-image1"></div>
                <div class="div-recommendation-text-1">뽑아주세요.
                    <span><a href="" class="text-body"><i class="fa-regular fa-star"></i></a></span>
                </div>
                <div class="div-recommendation-text-2">류재성</div>
            </div>
            <div onclick="location.href='/resume/detail.html'">
                <div class="employer-people-image1"></div>
                <div class="div-recommendation-text-1">뽑아주세요.
                    <span><a href="" class="text-body"><i class="fa-regular fa-star"></i></a></span>
                </div>
                <div class="div-recommendation-text-2">류재성</div>
            </div>
            <div onclick="location.href='/resume/detail.html'">
                <div class="employer-people-image1"></div>
                <div class="div-recommendation-text-1">뽑아주세요.
                    <span><a href="" class="text-body"><i class="fa-regular fa-star"></i></a></span>
                </div>
                <div class="div-recommendation-text-2">류재성</div>
            </div>
            <div onclick="location.href='/resume/detail.html'">
                <div class="employer-people-image1"></div>
                <div class="div-recommendation-text-1">뽑아주세요.
                    <span><a href="" class="text-body"><i class="fa-regular fa-star"></i></a></span>
                </div>
                <div class="div-recommendation-text-2">류재성</div>
            </div>
        </div>

    </section>

    <hr>

    <table class="table">
        <div class="div-recommendation mb-20">구직자 정보</div>

        <th>이름</th>
        <th>구직자 정보</th>
        <th>이력서</th>

        <tr>
            <td class="div-recommendation-text-2">홍길동</td>
            <td>
                <div class="div-recommendation-text-1">서비스업,고객센터</div>
                <div class="div-recommendation-text-2">맡은 업무에 항상 최선을 다하는 인재입니다.</div>
            </td>
            <td>
                <button class="btn btn-outline-body" onclick="location.href='/resume/detail.html'">이력서보기</button>
            </td>
        </tr>
        <tr>
            <td class="div-recommendation-text-2">홍길동</td>
            <td>
                <div class="div-recommendation-text-1">서비스업,고객센터</div>
                <div class="div-recommendation-text-2">맡은 업무에 항상 최선을 다하는 인재입니다.</div>
            </td>
            <td>
                <button class="btn btn-outline-body" onclick="location.href='/resume/detail.html'">이력서보기</button>
            </td>
        </tr>

        <tr>
            <td class="div-recommendation-text-2">홍길동</td>
            <td>
                <div class="div-recommendation-text-1">서비스업,고객센터</div>
                <div class="div-recommendation-text-2">맡은 업무에 항상 최선을 다하는 인재입니다.</div>
            </td>
            <td>
                <button class="btn btn-outline-body" onclick="location.href='/resume/detail.html'">이력서보기</button>
            </td>
        </tr>

        <tr>
            <td class="div-recommendation-text-2">홍길동</td>
            <td>
                <div class="div-recommendation-text-1">서비스업,고객센터</div>
                <div class="div-recommendation-text-2">맡은 업무에 항상 최선을 다하는 인재입니다.</div>
            </td>
            <td>
                <button class="btn btn-outline-body" onclick="location.href='/resume/detail.html'">이력서보기</button>
            </td>
        </tr>
        <tr>
            <td class="div-recommendation-text-2">홍길동</td>
            <td>
                <div class="div-recommendation-text-1">서비스업,고객센터</div>
                <div class="div-recommendation-text-2">맡은 업무에 항상 최선을 다하는 인재입니다.</div>
            </td>
            <td>
                <button class="btn btn-outline-body" onclick="location.href='/resume/detail.html'">이력서보기</button>
            </td>
        </tr>
        <tr>
            <td class="div-recommendation-text-2">홍길동</td>
            <td>
                <div class="div-recommendation-text-1">서비스업,고객센터</div>
                <div class="div-recommendation-text-2">맡은 업무에 항상 최선을 다하는 인재입니다.</div>
            </td>
            <td>
                <button class="btn btn-outline-body" onclick="location.href='/resume/detail.html'">이력서보기</button>
            </td>
        </tr>
        <tr>
            <td class="div-recommendation-text-2">홍길동</td>
            <td>
                <div class="div-recommendation-text-1">서비스업,고객센터</div>
                <div class="div-recommendation-text-2">맡은 업무에 항상 최선을 다하는 인재입니다.</div>
            </td>
            <td>
                <button class="btn btn-outline-body" onclick="location.href='/resume/detail.html'">이력서보기</button>
            </td>
        </tr>

        <tr>
            <td class="div-recommendation-text-2">홍길동</td>
            <td>
                <div class="div-recommendation-text-1">서비스업,고객센터</div>
                <div class="div-recommendation-text-2">맡은 업무에 항상 최선을 다하는 인재입니다.</div>
            </td>
            <td>
                <button class="btn btn-outline-body" onclick="location.href='/resume/detail.html'">이력서보기</button>
            </td>
        </tr>
        <tr>
            <td class="div-recommendation-text-2">홍길동</td>
            <td>
                <div class="div-recommendation-text-1">서비스업,고객센터</div>
                <div class="div-recommendation-text-2">맡은 업무에 항상 최선을 다하는 인재입니다.</div>
            </td>
            <td>
                <button class="btn btn-outline-body" onclick="location.href='/resume/detail.html'">이력서보기</button>
            </td>
        </tr>
    </table>


    <div class="d-flex justify-content-center">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </div>


</div>
<!-- 바디 end -->
{{>layout/footer}}