{{>layout/header}}
    <style>
        * {
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
            /* 높이를 설정할 때 위아래 가지고 있는 마진 패딩값을 초기화.
     border 값이 있어야 할때 높이가 달라짐 그래서 box-sizing: border-box
     를 설정하면 보더 + 높이를 합쳐서 원하는 높이를 설정해줌
     */
        }

        .div-intro-image {
            background-image: url(../images/intro_img_web.png);
            height: 430px;
            background-size: 100% 100%;

        }

        .div-inner-box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
            /* 또는 부모 요소의 높이에 맞게 설정 */
        }

        .div-center-text-1 {
            font-size: 50px;
            font-weight: 900;
        }

        .div-center-text-2 {
            font-size: 25px;
            font-weight: 500;
        }
    </style>
    <div class="div-intro-box">
        <div class="div-intro-image">
            <div class="div-inner-box">
                <div class="div-center-text-1 text-white">당신의 성공을 이끌 이력서</div>
                <br>
                <div class="div-center-text-2 text-white">잡플랜과 함께라면 가능합니다.</div>
                <div class="div-center-text-2 text-white">더 높은 합격 가능성을 경험하세요.</div>
                <br>
                <div>
                    <button type="button" class="btn btn-outline-light btn-light text-primary"
                            onclick="location.href='/user/1'">이력서 관리
                    </button>
                    <button type="button" class="btn btn-outline-primary btn-primary text-white"
                            onclick="location.href='/resume/uploadForm'">이력서 작성
                    </button>
                </div>
            </div>
        </div>


    </div>
    <!-- 바디 end -->
{{>layout/footer}}