{{>layout/header}}
<!-- 바디 start -->
<div class="div-card-container">
    <div class="card div-card">
        <form action="/resume/upload" method="post">
            <div class="card-header card-title">
                <h2>이력서 작성</h2>
            </div>
            <div class="card-body">
                {{#sessionUser}}
                    <h4 class="card-title">개인 정보</h4>
                    <table class="table">
                        <tr>
                            <td>이름</td>
                            <td>
                                <input name="name" type="text" value="{{name}}" readonly class="form-control">
                            </td>
                        </tr>
                        <tr>
                            <td>생년월일</td>
                            <td>
                                <input name="birthdate" type="date" value="{{birthdate}}" readonly class="form-control">
                            </td>
                        </tr>
                        <tr>
                            <td>휴대전화</td>
                            <td>
                                <input name="phoneNumber" type="text" value="{{phoneNumber}}" readonly
                                       class="form-control">
                            </td>
                        </tr>
                        <tr>
                            <td>이메일</td>
                            <td>
                                <input name="email" type="email" value="{{email}}" readonly class="form-control">
                            </td>
                        </tr>
                        <tr>
                            <td>주소</td>
                            <td>
                                <input name="address" type="text" value="{{address}}" readonly class="form-control">
                            </td>
                        </tr>
                    </table>
                {{/sessionUser}}
                <table class="table">
                    <h4 class="card-title">이력서 제목</h4>
                    <tr>
                        <td>제목</td>
                        <td>
                            <input name="title" type="text" class="form-control">
                        </td>
                    </tr>
                    <tr>
                        <td>학교명</td>
                        <td>
                            <input name="schoolName" type="text"
                                   class="form-control">
                        </td>
                    </tr>
                    <tr>
                        <td>졸업형태</td>
                        <td>
                            <select name="educationLevel" class="form-control">
                                <option value="중졸">중졸</option>
                                <option value="고졸">고졸</option>
                                <option value="대졸">대졸</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>전공</td>
                        <td>
                            <input name="major" type="text" class="form-control">
                        </td>
                    </tr>
                </table>
                <h4 class="card-title">보유 스킬</h4>
                <table class="table">
                    <tr>
                        <td>
                            <div class=form-control style="display: flex; justify-content: space-evenly">
                                <input type="checkbox" name="skill" value="java">
                                <span>java</span>
                                <input type="checkbox" name="skill" value="javaScript">
                                <span>javaScript</span>
                                <input type="checkbox" name="skill" value="Spring">
                                <span>Spring</span>
                                <input type="checkbox" name="skill" value="HTML">
                                <span>HTML</span>
                                <input type="checkbox" name="skill" value="jQuery">
                                <span>jQuery</span>
                                <input type="checkbox" name="skill" value="MySQL">
                                <span>MySQL</span>
                                <input type="checkbox" name="skill" value="없음">
                                <span>없음</span>
                            </div>
                        </td>
                    </tr>
                </table>
                <h4 class="card-title">경력 사항</h4>
                <table class="table">
                    <tr>
                        <td>경력 정보</td>
                        <td>
                            <textarea name="career" class="form-control" style="height: 100px"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>자기소개서</td>
                        <td>
                            <textarea name="content" class="form-control" style="height: 300px;"></textarea>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="card-footer">
                <div class="button-post-cancel">
                    <button type="button" onclick="location.href='/'" class="btn btn-outline-dark">취소</button>
                    <button type="submit" class="btn btn-outline-dark">등록</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- 바디 end -->
{{>layout/footer}}