{{> layout/header }}
<div class="container">
    <h2 class="mb-4 fw-bold">이력서 작성</h2>
    <h4 class="fw-semibold mb-3">기본정보</h4>
    <table class="table-resume-notice">
        <tr>
            <td class="table-td-width-10">이름</td>
            <td><input class="form-control" style="width: 50%; background: #dee2e6" type="text" value="{{sessionUser.name}}" readonly></td>
        </tr>
        <tr>
            <td class="table-td-width-10">생년월일</td>
            <td>
                <input class="form-control" style="width: 50%; background: #dee2e6" type="date" value="{{sessionUser.birthdate}}" readonly>
            </td>
        </tr>
        <!-- mustache에서 처리 불가
        <tr>
            <td class="table-td-width-10">성별</td>
            <td>
                <input type="radio" name="gender" checked disabled>남자
                <input type="radio" name="gender" disabled>여자
            </td>
        </tr>
        -->
        <tr>
            <td class="table-td-width-10">휴대전화</td>
            <td>
                <input class="form-control" style="width: 50%; background: #dee2e6" type="tel" value="{{sessionUser.phoneNumber}}" readonly>
            </td>
        </tr>
        <tr>
            <td class="table-td-width-10">이메일</td>
            <td>
                <input class="form-control" style="width: 50%; background: #dee2e6" type="email" value="{{sessionUser.email}}" readonly>
            </td>
        </tr>
        <tr>
            <td class="table-td-width-10">주소</td>
            <td><input class="form-control" style="width: 50%; background: #dee2e6" type="text" value="{{sessionUser.address}}" readonly></td>
        </tr>
    </table>
    <form action="/resume/upload" method="post">
    <h4 class="fw-semibold mb-3">이력서 제목</h4>
    <table class="table-resume-notice">
        <td>제목</td>
        <td>
          <span>
            <input name="title" class="form-control" style="width: 50%;" type="text">
          </span>
        </td>
        </tr>
    </table>

    <h4 class="fw-semibold mb-3">최종 학력</h4>
    <table class="table-resume-notice">
        <tr>
            <td>학교명</td>
            <td>
            <span>
              <input name="schoolName" class="form-control" style="width: 50%;" type="text">
            </span>
            </td>
        </tr>
        <tr></tr>
        <td>졸업형태</td>
        <td>
            <select name="educationLevel">
                <option value="중졸">중졸</option>
                <option value="고졸">고졸</option>
                <option value="대졸">대졸</option>
            </select>
        </td>
        </tr>
        <tr>
            <td>전공</td>
            <td><input name="major" class="form-control" style="width: 50%;" type="text"></td>
        </tr>
    </table>

    <h4 class="fw-semibold mb-3 title-inline">경력 사항</h4>
    <table class="table-resume-notice">
        <tr>
            <td>경력 정보</td>
            <td><textarea name="career" class="textarea-work-size"></textarea></td>
        </tr>
    </table>


    <h4 class="fw-semibold mb-3">자기소개서</h4>
    <textarea name="content" class="textarea-introduction-size mb-3"></textarea>
    <br>
    <div class="button-post-cancel">
        <button type="button" onclick="location.href='/'" class="btn btn-outline-dark">취소</button>
        <button type="submit" class="btn btn-outline-dark">등록</button>
    </div>
    </form>
</div>
<!-- 바디 end -->
{{>layout/footer}}