{{> layout/header }}
<div class="row justify-content-end mb-3">
    <div class="col-md-4">
        <form action="/" method="get" class="form-inline">
            <div class="input-group rounded">
                <input class="form-control me-2 rounded-end" type="text" placeholder="기업,채용정보를 입력하세요"
                       name="keyword" required/>
                <a href="#" class="text-body"><i class="fa-solid fa-magnifying-glass icon-search"></i></a>
            </div>
        </form>
    </div>
</div>
<!-- 광고 창 start -->
<div class="div-addimage">
    <section class="section-body">
        <div class="div-ad-img1"></div>
    </section>
    <!-- 광고 창 end -->
    <!-- 바디 start -->
    <section class="section-body">
        <div class="div-recommendation mb-20">추천 채용 정보</div>
        <div class="div-recommendation-img">
            <div>
                <div class="div-recommendation-img-1"></div>
                <div class="div-recommendation-text-1">회사정보
                    <span><a href="/board/1" class="text-body"><i class="fa-regular fa-star"></i></a></span>
                </div>
                <div class="div-recommendation-text-2">회사정보</div>
            </div>
            <div>
                <div class="div-recommendation-img-2"></div>
                <div class="div-recommendation-text-1">회사정보
                    <span><a href="/board/1" class="text-body"><i class="fa-regular fa-star"></i></a></span>
                </div>
                <div class="div-recommendation-text-2">회사정보</div>
            </div>
            <div>
                <div class="div-recommendation-img-3"></div>
                <div class="div-recommendation-text-1">회사정보
                    <span><a href="/board/1" class="text-body"><i class="fa-regular fa-star"></i></a></span>
                </div>
                <div class="div-recommendation-text-2">회사정보</div>
            </div>
        </div>
    </section>
    <hr>
    <div class="container mt-3">
        <div class="dropdown">
            <button type="button" class="btn btn-outline-primary" data-bs-toggle="dropdown">
                원하는 기술을 선택하세요
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/board/listings/?keyword=java">java</a></li>
                <li><a class="dropdown-item" href="/board/listings/?keyword=javascript">javascript</a></li>
                <li><a class="dropdown-item" href="/board/listings/?keyword=Spring">Spring</a></li>
            </ul>
        </div>
    <div class="div-recommendation mb-20">채용 정보</div>
    <table class="table">
        <th>지역</th>
        <th>회사명</th>
        <th>공고 제목</th>
        <th>급여 정보</th>
        <th>마감일</th>
        {{#employerList}}
            <tr>
                <td>{{address}}</td>
                <td><a href="/board/{{id}}" class="text-body">{{businessName}}</a></td>
                <td><a href="/board/{{id}}" class="text-body">{{title}}</a></td>
                <td>{{salary}}</td>
                <td>{{closingDate}}</td>
            </tr>
        {{/employerList}}
    </table>
    <div class="d-flex justify-content-center">
        <ul class="pagination">
            <li class="page-item {{#first}}disabled{{/first}}"><a class="page-link" href="?page={{prevPage}}">Previous</a></li>
            {{#numberList}}
                <li class="page-item"><a class="page-link" href="?page={{.}}">{{.}}</a></li>
            {{/numberList}}
            <li class="page-item {{#last}}disabled{{/last}}"><a class="page-link" href="?page={{nextPage}}">Next</a></li>
        </ul>
    </div>
</div>
<!-- 바디 end -->
{{>layout/footer}}