{{> layout/header }}
<div class="div-body">
    <div class="div-layout">
        <div class="d-flex justify-content-between">
            <h3><b>내 정보</b></h3>
            <form action="/user/{{sessionUser.id}}/updateForm" class="justify-content-end">
                <button class="btn btn-outline-primary">수정</button>
                <button class="btn btn-primary">탈퇴</button>
            </form>
        </div>
        <div class="div-information">
            <div>
                <div class="card mt-5" style="width:200px">
                    {{#pic}}
                        <img class="card-img" src="/upload/{{pic.imgFilename}}" style="width:100%">
                    {{/pic}}
                    {{^pic}}
                        <img class="card-img" src="../images/avatar.png" alt="Card image" style="width:100%">
                    {{/pic}}
<!--                    {{^checkPic}}-->
<!--                        <img class="card-img" src="../images/avatar.png" alt="Card image" style="width:100%">-->
<!--                    {{/checkPic}}-->
                    <div class="card-body">
                        <h4 class="card-title">{{user.name}}</h4>
                        <div style="display: grid; grid-template-columns: 1fr 1fr; grid-column-gap: 10px">
                            {{#pic}}
                                <form action="/deletePic/{{user.id}}" method="post">
                                    <button class="btn btn-primary">삭제</button>
                                </form>
                            {{/pic}}
                            {{^pic}}
                                <form action="/uploadForm/{{user.id}}" method="get">
                                    <button class="btn btn-outline-primary">등록</button>
                                </form>
                            {{/pic}}
                        </div>

                    </div>
                </div>
            </div>
            <div>
                <table class="table">
                    <thead>
                    <tr>
                        <th><h3>개인정보</h3></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th>ID</th>
                        <td>{{user.username}}</td>
                    </tr>
                    <tr>
                        <th>PW</th>
                        <td>{{user.password}}</td>
                    </tr>
                    <tr>
                        <th>이름</th>
                        <td>{{user.name}}</td>
                    </tr>
                    <tr>
                        <th>생년월일</th>
                        <td>{{user.birthdate}}</td>
                    </tr>
                    <tr>
                        <th>성별</th>
                        <td>{{user.gender}}</td>
                    </tr>
                    <tr>
                        <th>휴대전화</th>
                        <td>{{user.phoneNumber}}</td>
                    </tr>
                    <tr>
                        <th>주소</th>
                        <td>{{user.address}}</td>
                    </tr>
                    <tr>
                        <th>E-MAIL</th>
                        <td>{{user.email}}</td>
                    </tr>
                    </tbody>
                </table>
                <div class="form-control">
                    <div>보유기술</div>
                    <div>
                        <button>Java</button>
                        <button>Spring</button>
                        <button>HTML</button>
                        <button>JavaScript</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--내 이력서 보기-->
    <div class="div-layout">
        <div class="div-header d-flex justify-content-between">
            <h2><b>나의 이력서</b></h2>
            <form action="/resume/uploadForm" method="get">
                <button class="btn btn-primary">추가</button>
            </form>
        </div>
        <div class="div-resume">
            <table class="table table-hover" style="text-align: end">
                <tr>
                    <td>제목</td>
                    <td>게시일자</td>
                    <td></td>
                </tr>
                {{#resumeList}}
                    <tr>
                        <td><a href="/resume/{{id}}">{{title}}</a></td>
                        <td>{{createdAt}}</td>
                        <td>
                            <div style="display: flex; justify-content: end">
                                <form action="/resume/{{id}}/updateForm">
                                    <button class="btn btn-outline-primary">수정</button>&nbsp;
                                </form>
                                <form action="/resume/{{id}}/delete" method="post">
                                    <button class="btn btn-primary">삭제</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                {{/resumeList}}
            </table>
        </div>
    </div>
    <div class="div-layout">
        <div class="div-header d-flex justify-content-between" style="text-align: end">
            <h2><b>나의 지원현황</b></h2>
        </div>
        <div class="div-resume">
            <table class="table table-hover" style="text-align: end">
                <tr>
                    <th>이력서 제목</th>
                    <th>회사</th>
                    <th>공고 제목</th>
                    <th>날짜</th>
                    <th>합격 여부</th>
                </tr>
                <tr>
                    <td><a href="/resume/1">나는 노예가 아니다</a></td>
                    <td>네이버</td>
                    <td><a href="/board/1">2024 신입 채용</a></td>
                    <td>2024-03-04</td>
                    <td>
                        <div style="display: flex; justify-content: end">
                            <button class="btn btn-outline-danger">합격</button>&nbsp;
                            <button class="btn btn-danger">불합격</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><a href="/resume/1">목화밭에서</a></td>
                    <td>카카오</td>
                    <td><a href="/board/1">2024 신입 채용</a></td>
                    <td>2024-03-04</td>
                    <td>
                        <div style="display: flex; justify-content: end">
                            <button class="btn btn-outline-danger">합격</button>&nbsp;
                            <button class="btn btn-danger">불합격</button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<!-- 바디 end -->
{{>layout/footer}}