{{> layout/header }}
<div class="div-body">
    <div class="div-layout">
        <div class="div-header d-flex justify-content-between">
            <h3><b>내 정보</b></h3>
            <form action="/user/updateProfile.html" class="justify-content-end">
                <button class="btn btn-primary">수정</button>
            </form>
        </div>
        <div class="div-information">
            <div class="div-information-grid">
                <h4>기본정보</h4>
                <table class="table-image">
                    <tr>
                        <td class="td-image">ID</td>
                        <td class="td-image">김성재</td>
                    </tr>
                    <tr>
                        <td class="td-image">E-MAIL</td>
                        <td class="td-image">stwin755@gmail.com</td>
                    </tr>
                </table>
            </div>
            <div class="div-information-grid">
                <h3>개인정보</h3>
                <table class="table-image">
                    <tr>
                        <td class="td-image">이름</td>
                        <td class="td-image">김성재</td>
                    </tr>
                    <tr>
                        <td class="td-image">생년월일</td>
                        <td class="td-image">1998년 5월 15일</td>
                    </tr>
                    <tr>
                        <td class="td-image">성별</td>
                        <td class="td-image">남자</td>
                    </tr>
                    <tr>
                        <td class="td-image">휴대전화</td>
                        <td class="td-image">010-7319-8019</td>
                    </tr>
                    <tr>
                        <td class="td-image">주소</td>
                        <td class="td-image">경상남도 창원시 성산구</td>
                    </tr>
                    <tr>
                        <td class="td-image">보유기술</td>
                        <td class="td-image">Java, Spring, Git, HTML, CSS</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="div-layout">
        <div class="div-header d-flex justify-content-between">
            <h2><b>내 이력서</b></h2>
            <form action="/resume/upload.html" method="get">
                <button class="btn btn-primary">추가</button>
            </form>
        </div>


        <div class="div-resume">
            <table class="table-image">
                <tr>
                    <td class="td-resume td-image">이력서 데이터 불러오자
                        <div class="button-group">
                            <form action="/resume/update.html">
                                <button class="btn btn-outline-primary">수정</button>
                            </form>
                            <button class="btn btn-primary">삭제</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="td-resume td-image">이력서 데이터 불러오자
                        <div class="button-group">
                            <form action="/resume/update.html">
                                <button class="btn btn-outline-primary">수정</button>
                            </form>
                            <button class="btn btn-primary">삭제</button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<!-- 바디 end -->
{{>layout/footer}}}