{{>layout/header}}
<style>
    th {
        text-align: center;
    }
    td {
        text-align: center;
    }
</style>
<main class="main-size">
    <div class="row justify-content-end mb-3">
        <div class="col-md-4">
            <form action="/" method="get" class="form-inline">
                <div class="input-group rounded">
                    <input class="search-box form-control me-2 rounded-end" type="text" placeholder="기업,채용정보를 입력하세요"
                           name="keyword" required/>
                    <a href="#" class="text-body"><i class="fa-solid fa-magnifying-glass icon-search"></i></a>
                </div>
            </form>
        </div>
    </div>
    <div>
        <!-- 바디 start -->
        <h2 style="text-align: center">공고 구독 정보</h2>
        <hr>
        <table class="table">
            <tr>
                <th>지역</th>
                <th>회사명</th>
                <th style="text-align: start">공고 정보</th>
                <th>급여 정보</th>
                <th>마감일</th>
                <th></th>
            </tr>
            {{#subscribeList}}
                <tr>
                    <td>{{address}}</td>
                    <td>{{businessName}}</td>
                    <td style="text-align: start">
                        <div class="div-recommendation-text-1">채용 분야 : {{field}}</div>
                        <a href="/board/{{boardId}}" class="div-recommendation-text-2">{{title}}</a>
                    </td>
                    <td>{{salary}}</td>
                    <td>{{closingDate}}</td>
                    <td>
                        <form action="/user/{{boardId}}/unsubscribeBoard" method="post">
                            <button class="btn btn-danger">구독 취소</button>
                        </form>
                    </td>
                </tr>
            {{/subscribeList}}
        </table>
        <div class="d-flex justify-content-center">
            <ul class="pagination">
                <li class="page-item disabled"><a class="page-link" href="?page=#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="?page=#">1</a></li>
                <li class="page-item disabled"><a class="page-link" href="?page=#">Next</a></li>
            </ul>
        </div>
    </div>
    <!-- 바디 end -->
</main>

{{>layout/footer}}