{{>layout/header}}
<!-- 바디 start -->
<div class="div-card-container">
    <div class="card div-card">
        <div class="card-header card-title">
            <b>회원 정보 수정</b>
        </div>
        <div class="card-body">
            <form action="/user/{{user.id}}/update" method="post" enctype="application/x-www-form-urlencoded"
                  onsubmit="return true">
                <div style="text-align: end"><h4>기본 정보 수정</h4></div>
                <div>아이디</div>
                <div class="mb-3">
                    <input type="text" class="form-control" name="username" value="{{user.username}}"
                           style="background: #dee2e6" readonly>
                </div>
                <div>비밀번호</div>
                <div class="mb-3">
                    <input type="password" class="form-control" name="password" placeholder="{{user.password}}">
                </div>
                <div style="text-align: end"><h4>개인 정보 수정</h4></div>
                <div>이름</div>
                <div class="mb-3">
                    <input type="text" class="form-control" name="name" value="{{user.name}}"
                           style="background: #dee2e6" readonly>
                </div>
                <div>생년월일</div>
                <div class="mb-3">
                    <input type="date" class="form-control" name="birthdate" value="{{user.birthdate}}"
                           style="background: #dee2e6" readonly>
                </div>
                <div>성별</div>
                <div class="mb-3">
                    <div class="form">
                        <span>남자</span>
                        <input type="radio" name="gender" value="M">
                        <span>여자</span>
                        <input type="radio" name="gender" value="F">
                    </div>
                </div>
                <div>휴대전화</div>
                <div class="mb-3">
                    <input type="tel" pattern="[0-9]{9, 11}" title="번호만 입력하세요" class="form-control" name="phoneNumber"
                           value="{{user.phoneNumber}}" required>
                </div>
                <div>주소</div>
                <div class="mb-3">
                    <input type="text" class="form-control" name="address"
                           placeholder="{{user.address}}" value="{{user.address}}">
                </div>
                <div>이메일</div>
                <div class="mb-3">
                    <input type="email" class="form-control" name="email"
                           placeholder="{{user.email}}" value="{{user.email}}">
                </div>
                <button type="submit" class="btn btn-primary form-control mt-5">수정 완료</button>
            </form>
        </div>
    </div>
</div>
<!-- 바디 end -->
{{>layout/footer}}