{{>layout/header}}
<main style="display: flex; justify-content: center">
    <div class="div-card">
        <div class="card div-card-container">
            <form action="/upload/{{user.id}}" method="post" enctype="multipart/form-data">
                <div class="card-header">
                    <h1 class="card-title">사진 업로드</h1>
                </div>
                <div class="card-body">
                    <input type="file" class="btn btn-outline-primary form-control" id="customFileLang" lang="ko" name="imgFile">
                    <label class="custom-file-label" for="customFileLang"></label>
                </div>
                <div class="card-footer card-title">
                    <button class="btn btn-outline-primary" type="submit">업로드</button>
                </div>
            </form>
        </div>
    </div>
</main>

{{>layout/footer}}