{{>layout/header}}
<div class="container mt-5">
    <form action="/upload/{{user.id}}" method="post" enctype="multipart/form-data" class="text-center border border-light p-5">
        <p class="h4 mb-4">사진 업로드</p>
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="customFileLang" lang="ko" name="imgFile">
            <label class="custom-file-label" for="customFileLang"></label>
        </div>
        <button class="btn btn-outline-primary btn-block my-4" type="submit">업로드</button>
    </form>
</div>
{{>layout/footer}}