{{>layout/header}}
<style>
    * {
        margin: 0px;
        box-sizing: border-box;
    }

    .p-text {
        font-size: 13px;
        margin-top: 10px;
        color: rgb(66, 66, 66);
    }
</style>
<!-- 바디 start -->
<div class="div-card-container">
    <div class="card div-card">
        <div class="card-header card-title">
            <b>기업 회원가입</b>
        </div>
        <div class="card-body">
            <form action="/join" method="post" enctype="application/x-www-form-urlencoded">
                <div style="text-align: end"><h4>기본 정보</h4></div>
                <div>아이디</div>
                <div class="mb-3">
                    <input type="text" name="username" id="username" placeholder="Enter username.." value="ssar"
                           class="form-control" onchange="check()"
                           required>
                </div>
                <div>비밀번호</div>
                <div class="mb-3">
                    <input type="password" name="password" id="password" placeholder="Enter password.." value="1234"
                           class="form-control"
                           required>
                </div>
                <div style="text-align: end"><h4>개인 정보</h4></div>
                <div>이름</div>
                <div class="mb-3">
                    <input type="text" name="name" pattern="[^(가-힣a-zA-Z)]" id="name" placeholder="Enter name.."
                           value="JUHO초이" class="form-control" required>
                </div>
                <div>생년월일</div>
                <div class="mb-3">
                    <input type="date" name="birthdate" id="birthdate" value="1988-04-01" class="form-control" required>
                </div>
                <div>성별</div>
                <div class="mb-3" style="display: grid; grid-template-columns: 1fr 1fr">
                    <div style="display: flex; justify-content: center">
                        <span>남자</span>
                        <input type="radio" name="gender" id="gender" value='M' required>
                    </div>
                    <div style="display: flex; justify-content: center">
                        <span>여자</span>
                        <input type="radio" name="gender" id="gender" value='F' required>
                    </div>
                </div>
                <!--
                <div class="mb-3">
                    <p class="p-text">휴대전화</p>
                    <input type="tel" pattern="[0-9]{2,3}-[0-9]{3,4}-[0-9]{4}" name="phoneNumber" id="phoneNumber" value="010-9273-0000" class="form-control" required>
                </div>
                -->
                <div>휴대전화</div>
                <div class="mb-3">
                    <input type="tel" pattern="[0-9]{9,11}" title="번호만 입력하세요" name="phoneNumber" id="phoneNumber"
                           value="01022227460" class="form-control" required>
                </div>
                <div class="mb-3">
                    <p class="p-text">주소</p>
                    <input type="text" name="address" id="address" value="부산진구 중앙대로 700번길" class="form-control"
                           required>
                </div>
                <div class="mb-3">
                    <p class="p-text">이메일</p>
                    <input type="email" name="email" id="email" placeholder="Enter email.." value="ssar@nate.com"
                           class="form-control" required>
                </div>
                <div style="text-align: end"><h4>기업 정보</h4></div>
                <input type="hidden" name="isEmployer" value="true"> <!--기업 회원 여부 true-->
                <div class="mb-3">
                    <p class="p-text">사업자 등록 번호</p>
                    <input type="text" pattern="[0-9]{10}" title="번호만 입력하세요" name="employerIdNumber"
                           id="employerIdNumber" value="0000000000" class="form-control" required>
                </div>
                <div class="mb-3">
                    <p class="p-text">기업 이름</p>
                    <input type="text" name="businessName" id="businessName" value="그린컴퓨터아카데미" class="form-control"
                           required>
                </div>
                <!-- 업종 삭제 (JUHO CHOI)
                <p class="p-text">업종</p>
                <select class="select-category">
                    <option value="선택">분야를 선택하세요</option>
                    <option value="기획">기획</option>
                    <option value="마케팅">마케팅</option>
                    <option value="회계">회계</option>
                    <option value="IT 개발">IT 개발</option>
                </select>
                 -->
                <button type="submit" class="btn btn-primary form-control mt-3">회원가입</button>
            </form>
        </div>
    </div>
</div>

<script>
    let isSameCheck = false ;

    function check(){
        let username = $("#username").val();

        $.ajax({
            type :"get",
            url : "/api/username-same-check",
            data : {username : username}
        }).done((res)=>{
            if(res.body==false) {
                isSameCheck = true;
                alert("사용가능한 아이디입니다.")
            }else{
                isSameCheck = false ;
                alert("아이디가 중복되었습니다.")
            }
        }).fail((res)=>{
            alert(res.responseJSON.msg);
        });

    }

</script>

<!-- 바디 end -->
{{>layout/footer}}