{{> layout/header }}
<div class="div-body">
    <div class="div-layout">
        <div class="div-header d-flex justify-content-between">
            <h3><b>내 정보</b></h3>
            <form action="/user/1/updateForm" class="justify-content-end">
                <button class="btn btn-outline-primary">수정</button>
                <button class="btn btn-primary">탈퇴</button>
            </form>
        </div>
        <div class="div-information">
            <div class="div-information-grid">
                <div class="card" style="width:150px">
                    <img class="card-img" src="../images/naver logo.png" alt="Card image" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title">{{info.name}}</h4>
                        <button class="btn btn-outline-primary">수정</button>
                        <button class="btn btn-primary">삭제</button>
                    </div>
                </div>
            </div>
            <div>
                <table class="table">
                    <tr>
                        <th><h3>기업정보</h3></th>
                    </tr>
                    <tr>
                        <td>ID</td>
                        <td>{{info.username}}</td>
                    </tr>
                    <tr>
                        <td>PW</td>
                        <td>****</td>
                    </tr>
                    <tr>
                        <td>이름</td>
                        <td>{{info.name}}</td>
                    </tr>
                    <tr>
                        <td>생년월일</td>
                        <td>{{info.birthdate}}</td>
                    </tr>
                    <tr>
                        <td>성별</td>
                        <td>{{info.gender}}</td>
                    </tr>
                    <tr>
                        <td>휴대전화</td>
                        <td>{{info.phoneNumber}}</td>
                    </tr>
                    <tr>
                        <td>주소</td>
                        <td>{{info.address}}</td>
                    </tr>
                    <tr>
                        <td>E-MAIL</td>
                        <td>{{info.email}}</td>
                    </tr>
                    <tr>
                        <td>사업자번호</td>
                        <td>{{info.employerIdNumber}}</td>
                    </tr>
                    <tr>
                        <td>회사명</td>
                        <td>{{info.businessName}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="div-layout">
        <div class="div-header d-flex justify-content-between">
            <h3><b>공고 관리</b></h3>
            <form action="/board/uploadForm" method="get" class="justify-content-end">
                <button class="btn btn-primary">추가</button>
            </form>
        </div>
        <div class="div-announcement">
            <table class="table-image">
                <tr>
                    <td class="td-announcement td-image">공고 데이터 불러오자
                        <div class="button-group button-inline">
                            <form action="/board/1/updateForm">
                                <button class="btn btn-outline-primary">수정</button>
                            </form>
                            <button class="btn btn-primary">삭제</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="td-announcement td-image">공고 데이터 불러오자
                        <div class="button-group button-inline">
                            <form action="/board/1/updateForm">
                                <button class="btn btn-outline-primary">수정</button>
                            </form>
                            <button class="btn btn-primary">삭제</button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="div-layout">
        <div class="div-header">
            <h3><b>지원자 리스트</b></h3>
        </div>
        <div class="div-applicant">
            <table class="table-image">
                <tr>
                    <td class="td-applicant td-image">지원자 데이터 불러오자
                        <div class="button-group button-inline">
                            <button class="btn btn-outline-primary">불합격</button>
                            <button class="btn btn-primary">합격</button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<!-- 바디 end -->
{{>layout/footer}}