{{>layout/header}}
<div class="card">
    <div class="card-header"><b>기업 정보 수정</b></div>
    <div class="card-body">
        <form action="/user/{{user.id}}/update" method="post" enctype="application/x-www-form-urlencoded"
              onsubmit="return true">
            <div class="d-flex justify-content-end"><b>기본 정보 수정</b></div>
            <div>아이디</div>
            <div class="mb-3">
                <input type="text" class="form-control" name="username" value="{{user.username}}">
            </div>
            <div>비밀번호</div>
            <div class="mb-3">
                <input type="password" class="form-control" name="password" value="{{user.password}}">
            </div>
            <div>이메일</div>
            <div class="mb-3">
                <input type="email" class="form-control" name="email" value="{{user.email}}">
            </div>
            <div class="d-flex justify-content-end"><b>기업 정보 수정</b></div>
            <div>회사명</div>
            <div class="mb-3">
                <input type="text" class="form-control" name="businessName" value="{{user.businessName}}" disabled>
            </div>
            <div>전화번호</div>
            <div class="mb-3">
                <input type="tel" class="form-control" name="phoneNumber" value="{{user.phoneNumber}}" required>
            </div>
            <div>주소</div>
            <div class="mb-3">
                <input type="text" class="form-control" name="address" value="{{user.address}}">
            </div>
            <button type="submit" class="btn btn-primary form-control">수정 완료</button>
        </form>
    </div>
</div>
<!-- 바디 end -->
{{>layout/footer}}